*.aux
*.bbl
*.blg
*.log
*.pdf
*.lof
*.out
*.tum
*.o
*.failed
*.fls
*.fdb_latexmk
*.dSYM
*.toc
*.equ
*.lof
*.lot
*.pyc
*.xml
*-blx.bib
.fac
*.DS_Store
*.gch
*version-info.h
*motor_domain.py
*tail.py

generate_stepping_data

data/*.txt
data/*.tex

plots/*
runlogs/*
