todo.txt
latex/latexlog.txt
*.aux
*.log
*.pdf
*.out
*.tum
GIFS/*.gif
PNGs/*.png
data/*
*~
*.o
config.txt
data.txt
test
walk
init.txt
\#*
.*
run_data.txt
run.txt
test_bothbound
test_onebound
plot
*_equipartition_correlation
dynein_walk
GIFs/
plots/
ob_equipartition_test
ob_PE_equipartition_ratio_average_vs_force_ratio
ob_PE_equipartition_ratio_average_vs_spring_constant
ob_PE_equipartition_ratio_average_vs_temperature
