todo.txt
latex/latexlog.txt
*.aux
*.bbl
*.blg
*.log
*.pdf
*.lof
*.out
*.tum
GIFS/*.gif
*.png
data/*
*~
*.o
config.txt
data.txt
test
walk
init.txt
\#*
.nfs*
.#*
run_data.txt
run.txt
test_bothbound
test_onebound
plot
*_equipartition_correlation
dynein_walk
GIFs/
plots/
thesis_plots/
memory_box/
ob_PE_equipartition_ratio_average_vs_force_ratio
ob_PE_equipartition_ratio_average_vs_spring_constant
ob_PE_equipartition_ratio_average_vs_temperature
*.txt
*_test
create_ob_plots
create_pe_time_plots
generate_onebound_PE_data
generate_onebound_data
movies/
onebound_PE_equipartition_correlation_plotsimulations/simulation_defaults.h
create_ob_movie
simulations/make_pe_time_plots
create_bb_plots
generate_bothbound_data
simulations/custom_simulation_parameters.h
*.results
__pycache__
*.failed
generate_stepping_data
create_bb_movie
*.fls
*.fdb_latexmk
*.dSYM
*.toc
*.equ
*.lof
*.lot
simrunner
*.pyc
version-info.h
*.xml
draw/polygons.py
*-blx.bib
.fac
*.DS_Store
